

.container {

  .line{

    position: absolute;
    width: 100%;
    height: 5px;
    background-color: $brand;
    top: 24%;
    z-index: -1;
    left: 0;
    @media (max-width: 936px) {
      display: none;
    }
  }
  .home {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    padding-top: 140px;
    padding-bottom: 100px;
    @media (max-width: 936px) {
      gap: 20px;
    }
    @media (max-width: 894px) {
      flex-wrap: wrap;
      justify-content: center;
    }
    @media (max-width: 600px) {
      padding-top: 110px;
    }

    .home_left {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 30px;
      width: 50%;
      @media (max-width: 894px) {
        width: 100%;
      }
      @media (max-width: 600px) {
        gap: 15px;
      }
      .social{
        display: flex;
        align-items: center;
        gap: 20px;

        .insta{
          transition: 0.4s ease;
          font-size: 34px;
          color: #817d4d;
          &:hover{
            color: $brand;
          }
        }
        .wp{
          font-size: 34px;
          color: #817d4d;
        }
    
      }

      h1 {
        font-size: 66px;
        font-family: $font;
        line-height: 120%;
        @media (max-width: 1080px) {
          font-size: 50px;
        }
        @media (max-width: 500px) {
          font-size: 36px;
          line-height: 100%;
        }

        span {
          color: transparent;
          background-image: linear-gradient(to left,$brand,#ff0a54,#fdecf4 ,black,#702279,);
          -webkit-background-clip: text ;
          animation: animate 10s linear infinite alternate-reverse;
          -webkit-background-size: 500%;
          @keyframes animate {
            0%{
                background-position: 0 100%;
            }
            50%{
                background-position: 100% 0;
            }
            100%{
                background-position: 0 100%;
            }
        }
        }
      }
      p {
        font-family: $font;
        font-size: 20px;
        line-height: 140%;
        @media (max-width: 1080px) {
          font-size: 16px;
        }
      }

      .btn {
        padding: 13.5px 40px;
        display: flex;
        align-items: center;
        gap: 8px;
        color: $black;
        cursor: pointer;
        border: 2px solid $brand;
        font-family: $font;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        text-transform: uppercase;
        border-radius: 20px 0 20px 0;
        &:hover {
          box-shadow: 0 0 20px $brand;
          border-radius: 0 20px 0 20px;
        }
      }
    }

    .home_right {
      @media (max-width: 894px) {
        margin-top: 30px;
        display: flex;
        justify-content: center;
      }
      .model {
        width: 80%;
        height: auto;
        border-radius: 70px 0 70px 0;
        box-shadow: 60px 0 50px #b2ae7fb2;
        @media (max-width: 894px) {
          box-shadow: none;
        }
      }
    }
  }
}
