// Container & breakpoints
@use "sass:math";
$containerWidth: 1404;
$containerPadding: 40;
$containerSidePadding: math.div($containerPadding, 2);
$breakpoint1200: 1119.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint480: 479.98 + px;

@media (max-width: $breakpoint1200) {
}

@media (max-width: $breakpoint992) {
}

@media (max-width: $breakpoint768) {
}

@media (max-width: $breakpoint480) {
}

* {
  font-family: "Comfortaa", cursive;
  box-sizing: border-box;
}

//Fonts

// Colors
$brand: #a5a065;
$best: #7a7851;
$bg: #f4f2dd;
$black: #000000;

$font:  "Comfortaa", cursive;
